<div class='message'>
  <h3><%= @message.subject %></h3>
  <div class="message_body">
    <%= @message.body %>
  </div>
</div>

<div class="message_contacts">
  <% Contact.status.values.each do |status| %>
    <% contacts = @message.contacts.send(status) %>
    <%= render :partial => 'contacts/list', :locals => {:contacts => contacts, :status => status} if contacts.any? %>
  <% end %>
</div>
