<h3><%= @property_sms.title %></h3>

<div class="property">
  <ul>
    <li>
      <strong>Slug:</strong>
      <%= @property_sms.slug %>
    </li>
  </ul>
</div>

<%= link_to "Назад к списку", property_smses_path, :class => 'btn btn-default btn-sm' %>
