<%= link_to "Назад к списку", property_smses_path %>
<div class='property_sms'>
  <div>
    <h2>Название</h2>
    <%= @property_sms.title %>
  </div>
  <div>
    <h2>Slug</h2>
    <%= @property_sms.slug %>
  </div>
</div>
