<div class="contacts list <%= status %>">
  <ul>
    <% contacts.each do |contact| %>
      <%= render :partial => 'contacts/contact', :locals => {:contact => contact} %>
    <% end %>
  </ul>
</div>
