app:
  domain:         .domain
  host:           http://app.host/
  secret:         SECRET
  url:            http://app.url/

profile:
  url:            http://profile.url/
  sign_in_url:    http://profile.url/users/sign_in
  sign_out_url:   http://profile.url/users/sign_out

redis:
  url:            redis://redis.url:6379/3

redis_user_connector:
  url:            redis://redis.url:6379/1

session_store:
  db:             2
  key_prefix:     'session:'
  host:           redis_host
  port:           6379

smtp:
  address:        smtp_url
  port:           smtp_port

solr:
  url:            http://solr.url/cores/postman

sms_ru:
  app_id:         ID

webhooks:
  mandrill:
    token:        TOKEN

  sms:
    token:        TOKEN

