<div class="email_properties list">
  <%= link_to "Добавить настройку", new_property_email_path %>
  <ul>
    <% @property_emails.each do |property| %>
      <%= link_to property.title, property_email_path(property) %>
      <%= link_to "Редактировать", edit_property_email_path(property) %>
      <%= link_to "Удалить", property_email_path(property), :method => :delete, :data => { :confirm => 'Вы уверены?' } %>
    <% end %>
  </ul>
</div>
