<div class='footer'>
  <div class='contacts'>
    <div class='container'>
      <ul>
        <li><strong>Центр веб-технологий и информационных ресурсов ТУСУР</strong></li>
        <li><span class='glyphicon glyphicon-map-marker'></span> 634050, г. Томск, пр. Ленина 40, 235 гк</li>
        <li><span class='glyphicon glyphicon-phone-alt'></span> (3822) 70-15-57, вн. 1139, 1113</li>
      </ul>
    </div>
  </div>

  <div class='copyright'>
    <div class='container'>
      Разработка и дизайн <a href='http://tusur.ru/ru/informatization/subdivision/cvtir/'>OpenTeam</a>
    </div>
  </div>
</div>
